[submodule "frontend"]
	path = frontend
	url = https://github.com/Bobbyberta/interactivefiction-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Bobbyberta/interactivefiction-backend.git
